.info-section { margin: 80px 50px; }
.text-header { color: rgb(76, 76, 177); }
.grid-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px 60px
}
.img-fluid {
    height: 100% !important;
    max-height: 300px !important;
}

p, a, span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}